.AppContainer {
  width: 800px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.BoxContainer {
  width: 280px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  border-radius: 19px;
  background-color: #ffffff;
  box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
  position: relative;
  overflow: hidden;
}
.BoxContainer2 {
  top: 90px;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 19px;
  background-color: #ffffff;
  box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
  position:absolute;
  overflow:hidden;
}

.TopContainer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1.8em;
  padding-bottom: 5em;
  padding-top: 5em;
}
.BoxDrop {
  width: 160%;
  height: 550px;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 80%;
  transform: rotate(0deg);
  top: -300px;
  left: -70px;
  background: rgb(223, 174, 238);
  background: radial-gradient(
    circle,
    rgb(162,162, 246) 0%,
    #2D5AA3 100% 
  );
}

.HeaderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.24;
  color: rgb(248, 245, 245);
  z-index: 10;
  margin: 0;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.24;
  color: rgb(7, 7, 7);
  z-index: 10;
  margin: 5px;
}
h5 {
  text-align: center;
  color: rgb(248, 245, 245);
  font-weight: 500;
  font-size: 14px;
  z-index: 10;
  margin: 0;
  margin-top: 7px;
}

.InnerContainer {
    width: 100%;
    display:flex;
    flex-direction: column;
    padding: 0 1.8em;
}
