.Exam {
    font-family: sans-serif;
    text-align: center;
}

.mb {
    margin-bottom: 20px;
}
.ml {
    margin-left: 5px;
}
.black {
    color: black;
}

.container {
    padding: 1rem;
}
.DatePicker {
    padding: 10px;
}
.upload {
    margin-top: 2rem;
}
