.mb{
    margin-bottom:20px;
  }
  .ml{
    margin-left:5px;
  }
  .card-title{
    color:rgba(10, 12, 88, 0.863);
    font-size:20px;
    font-weight:bold;
  }
  .card-text{
    color:black;
  }
  .inline-group{
    display:inline;
  }