.image {
    height: 100px;
    margin: 10px;
  }
  
  .job {
    width: 100%;
    max-width: 590px;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .jobInfo {
    margin: 10px;
    display: flex;
    flex-direction: column;
  
    > div > {
      span {
        &:first-child {
          font-weight: bold;
          margin-right: 5px;
        }
  
        &:nth-child(2) {
          color: #969696;
          font-size: 16px;
        }
      }
      .employmentType{
        width:fit-content;
        background-color: #d8d8d8;
        font-size: 12px;
        color:rgb(0, 0, 0)
    }
      div {
        color: #969696;
        font-size: 12px;
       
      }
  
      p {
        font-size: 17px;
        margin: 10px 0;
      }
    }
  }
  
  
  .tweet-icons {
    display: flex;
    align-items: center;
  
    > span {
      color: #969696;
      margin: 0 15px 0 5px;
      font-size: 18px !important;
    }
  }
  
  .tweet-icon {
    font-size: 27px;
    color: #697784;
  
    &:hover {
      color: #00b5d6;
      cursor: pointer;
    }
  }