.image {
    height: 100px;
    margin: 10px;
  }


  .list{
      width: 50%;
     padding: auto;
     margin-top: auto; 
     display: flex;
     flex-direction: column;
  }
  
  .job {
      
    width: 100%;
    padding: 10px;
    display: flex;
    margin: 10px auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .jobInfo {
    margin: 10px;
    display: flex;
    flex-direction: column;
  
    > div > {
      span {
        &:first-child {
          font-weight: bold;
          margin-right: 5px;
        }
  
        &:nth-child(2) {
          color: #969696;
          font-size: 16px;
        }
      }
      .time{
        color: #19863a;
        padding: 1px;

      }
      .employmentType{
        width:fit-content;
        background-color: #d8d8d8;
        font-size: 12px;
        color:rgb(0, 0, 0)
    }
      div {
        color: #969696;
        font-size: 12px;
       
      }
  
      p {
        font-size: 17px;
        margin: 10px 0;
      }
    }
  }
  
  
  .job-icons {
    display: flex;
    align-items: center;
  
    > span {
      color: #969696;
      margin: 0 15px 0 5px;
      font-size: 18px !important;
    }
  }
  
  .job-icon {
    font-size: 27px;
    color: #697784;
  
    &:hover {
      color: #00b5d6;
      cursor: pointer;
    }
  }

  
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;

  a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;

    &:hover {
      //color: white;
      background-color: #bcbdf3;
    }
  }
}

.paginationActive a {

  color: white;
  background-color: #bcbdf3;
}


.paginationDisabled a {
  border: 1px solid grey;
  color: grey;
  &:hover{
    border: 1px solid grey;
    color: grey;
    background-color: white;
    text-decoration: none;
    cursor:default;
  }
 
}