.customize-exam-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    left: 0%;
    top: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
}
.customize-exam-popupBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customize-exam-popupContainer {
    width: 600px;
    height: 600px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.customize-exam-popupContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.customize-exam-titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.customize-exam-titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.customize-exam-popupContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.customize-exam-popupContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customize-exam-popupContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#cancelBtn {
    background-color: crimson;
}
#submitBtn {
    background-color: rgb(43, 54, 207);
}
.DatePickerExam {
    padding: 10px;
    width:70px;
}
