.image {
    height: 100px;
    margin: 10px;
}

.radio {
    padding: 5px;
    margin: 5px;
}
.list {
    width: 80%;
    padding: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.question {
    width: 100%;
    padding: 10px;
    display: flex;
    margin: 10px auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    flex-direction: column;

    cursor: pointer;
}

.questionInfo {
    margin: 10px;

    display: flex;

    flex-direction: column;

    > div > {
        span {
            &:first-child {
                font-weight: bold;
                margin-right: 5px;
            }

            &:nth-child(2) {
                color: #969696;
                font-size: 16px;
            }
        }
        .time {
            color: #19863a;
            padding: 1px;
        }
        .employmentType {
            width: fit-content;
            background-color: #d8d8d8;
            font-size: 12px;
            color: rgb(0, 0, 0);
        }
        div {
            color: #969696;
            font-size: 12px;
        }

        p {
            font-size: 17px;
            margin: 10px 0;
        }
    }
}

.question-icons {
    display: flex;
    align-items: center;

    > span {
        color: #969696;
        margin: 0 15px 0 5px;
        font-size: 18px !important;
    }
}

.question-icon {
    font-size: 27px;
    color: #697784;

    &:hover {
        color: #00b5d6;
        cursor: pointer;
    }
}

.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;

    a {
        padding: 10px;
        margin: 8px;
        border-radius: 5px;
        border: 1px solid #2b2eff;
        color: #2b2eff;
        cursor: pointer;

        &:hover {
            //color: white;
            background-color: #bcbdf3;
        }
    }
}

.paginationActive a {
    color: white;
    background-color: #bcbdf3;
}

.paginationDisabled a {
    border: 1px solid grey;
    color: grey;
    &:hover {
        border: 1px solid grey;
        color: grey;
        background-color: white;
        text-decoration: none;
        cursor: default;
    }
}
.footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    background-color: rgb(43, 54, 207);
    padding: 25px;
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
.button-question{
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}