@import "./variables.scss";
@import "../assets/styles/_variables.scss";
@import "../assets/styles/_mixins.scss";

body {
    width: 100%;
    font-family: $Poppins;
    color: $dark;
}

#root {
    height: 100%;
}

// * {
//   padding: 0;
//   box-sizing: border-box;
//   margin: 0;
//   text-decoration: none;
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
//     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;

// }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#theme {
    display: none;
}
#theme:checked ~ * {
    filter: invert(1);
}

.App {
    width: 100%;
    min-height: 100vh;
    background: white;
}

.main {
    max-width: 1000px;
    width: 100%;
    min-height: 100vh;
    margin: auto;
}

img {
    object-fit: cover;
}

/* -------- AUTH ---------- */
@import "./auth.scss";

/* -------- LOADING ---------- */
@import "./loading.scss";

/* -------- Header ---------- */
@import "./header.scss";

/* -------- Avatar ---------- */
@import "./avatar.scss";

/* -------- Header ---------- */
@import "./header.scss";

/* -------- Profile ---------- */
@import "./profile.scss";

/* -------- Home ---------- */
@import "./home.scss";

/* -------- Status Modal ---------- */
@import "./status_modal.scss";

/* -------- Comments ---------- */
@import "./comments.scss";

/* -------- Post Thumb ---------- */
@import "./post_thumb.scss";

/* -------- Message---------- */
@import "./message.scss";

/* -------- Icons---------- */
@import "./icons.scss";

/* -------- Call Modal---------- */
@import "./call_modal.scss";

/* --------- Responsive ------ */
@media (max-width: 766px) {
    .header .navbar .logo {
        display: none;
    }
    .header .menu {
        width: 100%;
        height: 40px;
    }
    .header .menu .navbar-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header .search_form {
        width: 100%;
    }
    .header .logo {
        margin: auto;
    }
    .header .logo h1 {
        font-size: 1.5rem;
    }

    .message {
        height: calc(100vh - 100px);
    }
    .right_mess,
    .left_mess {
        display: none;
    }
    .status {
        padding: 20px 10px;
    }
}

.mode {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
