.BoxContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.FormContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 2.5px rgba(15, 15, 15, 0.19);
}
.Ul {
  column-width: 150px;
}

.Li {
  list-style-type: none;
  padding: 2px;
  text-decoration: none;
}

.MutedLink {
  font-size: 11px;
  color: rgba(200, 200, 200, 0.8);
  font-weight: 500;
  text-decoration: none;
}
.error {
  color: red;
  font-size: 11px;
}
.BoldLink {
  font-size: 11px;
  color: #2d5aa3;
  font-weight: 500;
  text-decoration: none;
  margin: 0 4px;
}

.Input {
  width: 100%;
  height: 42px;
  outline: none;
  border: 2px solid rgba(200, 200, 200, 0.3);
  padding: 0px 10px;
  transition: all 200ms ease-in-out;
  font-size: 12px;
  &::placeholder {
    color: rgba(200, 200, 200, 1);
  }
  &:not(:last-of-type) {
    border-bottom: 1.5px solid rgba(200, 200, 200, 0.4);
  }
  &:focus {
    outline: none;
    border-bottom: 2px solid rgb(128, 172, 241);
  }
}

.SubmitButton {
  width: 90%;
  padding: 11px 20%;
  color: rgb(248, 245, 245);
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 100px 100px 100px 100px;
  cursor: pointer;
  transition: all, 240ms ease-in-out;
  margin: 12px;
  background: rgb(223, 174, 238);
  background: radial-gradient(circle, rgb(162, 162, 246) 0%, #2d5aa3 100%);
  &:hover {
    background: transparent;
    border: 2px solid #2d5aa3;
    color: #2d5aa3;
    //filter: brightness(1.5);
  }
}
.Box {
  border: 1px solid rgba(200, 200, 200, 1);
}

.Select {
  margin: 12px;

  padding: 11px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  width: 90%;
  color: rgb(248, 245, 245);
  cursor: pointer;
  background: radial-gradient(circle, rgb(162, 162, 246) 0%, #2d5aa3 100%);
  &:focus {
    outline: none #2d5aa3;
    border: 1px solid;
  }
  &:hover {
    outline: none #2d5aa3;
    border: 1px solid;
  }
  option {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0 0 10px 100px #1882a8 inset;
    color: #0c0c0c;
  }
}
